---
import BaseLayout from "../layouts/BaseLayout.astro";
import Navbar from "../components/sections/Navbar.astro";
import SocialSidebar from "../components/sections/SocialSidebar.astro";
import AboutIntro from "../components/sections/AboutIntro.astro";
import WhatMakesUsDifferent from "../components/sections/WhatMakesUsDifferent.astro";
import MeetTheTeam from "../components/sections/MeetTheTeam.astro";
import Footer from "../components/sections/Footer.astro";
import ScrollToTop from "../components/ui/ScrollToTop.astro";
---

<BaseLayout
  title="Get to Know Us"
  description="Mergewello Technologies is a web design agency based in Iloilo and Roxas City. We help local businesses across Panay Island get online with fast, affordable, professionally built websites. No jargon, no hassle."
>
  <Navbar currentPage="about" />
  <SocialSidebar />
  <AboutIntro />
  <WhatMakesUsDifferent />
  <MeetTheTeam />
  <Footer />
  <ScrollToTop />
  
  <!-- Spacer for mobile bottom nav -->
  <div class="lg:hidden h-20"></div>
</BaseLayout>