---
import BaseLayout from "../layouts/BaseLayout.astro";
import Navbar from "../components/sections/Navbar.astro";
import SocialSidebar from "../components/sections/SocialSidebar.astro";
import Hero from "../components/sections/Hero.astro";
import Pricing from "../components/sections/Pricing.astro";
import Contact from "../components/sections/Contact.astro";
---

<BaseLayout title="Home" currentPage="home">
  <Navbar currentPage="home" />
  <SocialSidebar />
  <Hero />
  <Pricing />
  <Contact />

  <!-- Spacer for mobile bottom nav -->
  <div class="lg:hidden h-20"></div>
</BaseLayout>